@{
  Layout = "_Layout";
}
<h1>Jimmy's Hair Salon Internal Employee Home Page</h1>

<h3>What would you like to do?</h3>
<ul>
  <li><a href="/all-stylists">See a list of all stylists</a></li>
  <li><a href="/stylist-details">See details for a specific stylist</a></li>
  <li><a href="/onboard-stylist">Onboard a new stylist</a></li>
  <li><a href="/add-client">Add a new client to a stylist</a></li>
</ul>
